:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #040622;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 700;
  color: #3399CC;
  text-decoration: inherit;
}
a:hover {
  color: #00838f;
  text-decoration: underline;
}
a.btn {
  color: black;
}
a.btn:hover {
  color: white;
}

.brand {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 64px;
}

body {
  margin: 0;
  display: flex;
  overflow-x: hidden;
}

button, .btn {
  color: black;
  width: 150px;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 0.6em;
  font-size: 1.2em;
  font-weight: 700;
  font-family: 'Roboto';
  background: #FF8E58;
  cursor: pointer;
  transition: border-color 0.25s;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: inline-block;
}
button:hover {
  color: white;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-size: 2.2em;
  line-height: 1.1;
}

h2.btn-label {
  margin-bottom: 0px;
}

.paper {
  max-width: min(70%, 100rem);
  color: black;
  background-color: white;
  padding: 1.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 1rem auto;
}

@media (prefers-color-scheme: dark) {
  .paper {
    color: white;
    background-color: #303e47;
  }
}

/* .paper {
  padding: 1rem;
  border-radius: 3%;
  background-color: #fff7f0;
  color: black;
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: #fff7f0;
  }
} */

p {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.2em;
}

h2.banner-subtitle {
  font-family: 'Lora';
  font-weight: 400;
  font-size: 1.5em;
}

h3 {
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: 2em;
}

h3.subtitle {
  font-family: 'Lora';
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0px;
}

ul {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.2em;
  text-align: left;
}

.banner {
  display: flex;
  align-items: center;
  width: 100vw;
  background-size: min(1500px, 100%) 165%;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  background-position: right top;
  background-color: #040622;
  min-height: 300px;
}

@media (prefers-color-scheme: dark) {
  .banner {
    filter: none;
  }
}

.banner-text {
  text-align: left;
  color: white;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
  padding-left: 1rem;
  padding-right: 1rem;
}